/* open-sans-300 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v28-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-500 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v28-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-600 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v28-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v28-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-800 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v28-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v28-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v28-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v28-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v28-latin_cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
.body {
    margin: 0 auto;
    font-family: "Open Sans";
    font-style: normal;
}
.header {
    height: 394px;
    background-color: #1D2631;
    background-image: url(../images/back-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid: 'block-1'
          'block-2';
}
.header-tablet { display: none; }
.header__mobile--section { display: none; }
.header__nav-bar {
    height: 110px;
    z-index: 100;
    padding: 0 calc(50% - 470px);
    backdrop-filter: brightness(0.6);
    -webkit-backdrop-filter: brightness(0.6);
    display: flex;
    grid-area: block-1;
}
.header__nav-bar--list--logo {
    position: relative;
    left: 0px;
    top: 27px;
    width: 147px;
    height: 40px;
    float: left;
}
.header > .header__nav-bar > li.header__nav-bar--list {
    position: relative;
    left: 20px;
    top: 45px;
    list-style-type: none;
    display: inline;
    margin-left: 79px;
    float: left;
}
.header > .header__nav-bar > li.header__nav-bar--list > a {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
}
.header > .header__nav-bar > li.header__nav-bar--list > a:hover {
    color: #D22856;
    transition: all 0.3s linear;
}
.header > .header__nav-bar > li.header__nav-bar--list > a:active {
    filter: opacity(0.3);
    transition: all 0.1s linear;
}
.header__h1 {
    grid-area: block-2;
    padding: 0 calc(50% - 470px);
}
.header__h1-text {
    margin: 0 auto;
    padding: 0 calc(50% - 200px);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    line-height: 68px;
    font-weight: 300;
}
.main__suggestion-section {
    padding: 0 calc(50% - 470px);
    display: flex;
    min-height: 200px;
}
.main__suggestion-section--h2 {
    margin: 0 auto;
    padding: 0 calc(50% - 300px);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    display: flex;
    align-items: center;
}
.main__latest-best-panorama-section {
    min-height: 525px;
    padding: 0 calc(50% - 470px);
    display: flex;
    flex-flow: column;
}
.main__latest-best-panorama-section--user-picture-block {
    display: flex;
    flex-flow: column;
}
.main__latest-best-panorama-section--best-shot-block {
    position: relative;
    left: 675px;
    top: -328px;
    border: 1px hidden;
    background: #D22856;
    width: 140px;
    height: 36px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.main__latest-best-panorama-section--user-comment--block {
    display: grid;
    grid: 'block-1 block-2'
          'block-3 block-3';
    border: 1px hidden;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: #F2F2F2;
    margin-top: -37px;
}
.main__latest-best-panorama-section--user-comment--block--label-1 {
    position: relative;
    left: 25px;
    top: 17px;
    grid-area: block-1;
    width: 232px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
}
.main__latest-best-panorama-section--user-comment--block--user-status {
    position: relative;
    left: 41px;
    top: -35px;
    color: #283645;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.main__latest-best-panorama-section--user-comment--block--label-2 {
    position: relative;
    left: -59px;
    top: 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #D22856;
}
.main__latest-best-panorama-section--user-comment--block--like-shape {
    position: relative;
    left: 13px;
    top: 1px;
}
.main__latest-best-panorama-section--user-comment--block--user-comment-text {
    position: relative;
    left: 0px;
    top: -41px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #283645;
    grid-area: block-3;
    width: 100%;
}
.main__section-3 {
    min-height: 1213px;
    padding: 0 calc(50% - 470px);
    background: #FFFFFF;
}
.main__section-3 > ul {
    margin-left: -38px;
    margin-right: 17px;
    display: grid;
    grid: 'block-1 block-2 block-3'
          'block-4 block-5 block-6';
    grid-gap: 19px;
}
.main__section-3--user-box-1 { grid-area: block-1; }
.main__section-3--user-box-2 { grid-area: block-2; }
.main__section-3--user-box-3 { grid-area: block-3; }
.main__section-3--user-box-4 { grid-area: block-4; }
.main__section-3--user-box-5 { grid-area: block-5; }
.main__section-3--user-box-6 { grid-area: block-6; }
.main__section-3 > ul > div {
    border: 1px hidden #F2F2F2;
    background: #F2F2F2;
    width: 300px;
    height: 554px;
    display: grid;
    grid: 'block-1'
          'block-2'
          'block-3'
          'block-4';
}
.main__section-3--user-box--block-1 {
    grid-area: block-1;
    height: fit-content;
    display: flex;
}
.main__section-3--user-box--block-2 {
    margin-top: 20px;
    grid-area: block-2;
    display: flex;
    flex-flow: row;
    align-items: center;
    float: left;
    height: 17px;
}
.main__section-3--user-box--block-3 {
    grid-area: block-3;
    display: flex;
    float: left;
    height: 50px;
    align-items: center;
}
.main__section-3 > ul > div > div.main__section-3--user-box--block-2 > p.main__section-3--user-name {
    position: relative;
    left: 0px;
    top: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    margin-left: 30px;
}
.main__section-3 > ul > div > div.main__section-3--user-box--block-2 > p.main__section-3--user-status {
    position: relative;
    left: 0px;
    top: 0px;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #283645;
    margin-left: 5px;
}
.main__section-3 > ul > div > div.main__section-3--user-box--block-3 > p.main__section-3--user-comment {
    position: relative;
    left: 0px;
    top: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;        
    color: #283645;
    margin-left: 30px;
}
.main__section-3--user-box--block-4 {
    grid-area: block-4;
    display: grid;
    grid: 'block-1 block-2';
    align-items: center;
    margin-bottom: 20px;
}
.main__section-3--user-box--block-4 > p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #D22856;
    width: 200px;
    margin-left: 30px;
    grid-area: block-1;
}
.main__section-3--user-box--block-4 > img {
    width: 15px;
    height: 15px;
    grid-area: block-2;
}
.main__section-4 {
    min-height: 120px;
    padding: 0 calc(50% - 470px);
    background: white;
    display: flex;
}
.main__section-4 > h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
}
.main__section-5 {
    min-height: 514px;
    padding: 0 calc(50% - 470px);
    background: #F2F2F2;
    display: grid;
    grid: 'block-1 block-2'
          'block-1 block-3';
}
.main__section-5--block-1 { 
    grid-area: block-1;
    border: 1px hidden;
    width: 300px;
    height: 400px;
    background: url(../images/photo-7-desktop.svg);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: 59px;
}
.main__section-5--block-2 {
    grid-area: block-2;
    display: flex;
    flex-flow: column;
}
.main__section-5--block-2--icon-1 {
    width: 44px;
    height: 44px;
    margin: 0 auto;
}
.main__section-5--block-2--icon-2 {
    width: 48px;
    height: 43px;
    margin: 0 auto;
}
.main__section-5--block-2--icon-3 {
    width: 48px;
    height: 32px;
    margin: 0 auto;
}
.main__section-5--block-2 > div {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 40px;
}
.main__section-5--block-2 > div > input {
    background: #bdbdbd;
    height: 1px;
    width: 288px;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    margin-top: 20px;
    inset: 1px 2px 2px 1px;
}
.main__section-5--sub-block-2--mobile { display: none; }
.main__section-5--block-3 {
    grid-area: block-3;
    width: 100%;
    display: flex;
}
.main__section-5--block-3 > button:nth-child(odd) {
    width: 183px;
    height: 53px;
    border: 3px solid #D22856;
    border-radius: 30px;
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #D22856;
    margin: 0 auto;
}
.main__section-5--block-3 > button:nth-child(odd):hover {
    border-color: #D22856;
    background: #D22856;
    color: white;
    transition: 0.3s linear;
}
.main__section-5--block-3 > button:nth-child(odd):active { filter: opacity(0.3); }
.main__section-5--block-3 > button:nth-child(even) {
    width: 183px;
    height: 53px;
    border: 3px solid #283645;
    border-radius: 30px;
    position: relative;
    left: -30px;
    top: 0px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #283645;
}
.main__section-5--block-3 > button:nth-child(even):hover {
    border-color: #283645;
    background: #283645;
    color: white;
    transition: 0.3s linear;
}
.main__section-5--block-3 > button:nth-child(even):active { filter: opacity(0.3); }
.footer {
    min-height: 197px;
    padding: 0 calc(50% - 470px);
    background: #FFFFFF;
    display: grid;
    grid: 'block-1 block-2 block-3';
}
.footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.footer__logo {
    grid-area: block-1;
    width: 147px;
    height: 200px;
}
.footer__nav-block {
    grid-area: block-2;
    width: 65%;
    height: 200px;
}
.footer__nav-block > a {
    border: 3px solid #bdbdbd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin: 0 auto;
}
.footer__nav-block > a:hover {
    border-color: #000000;
    transition: 0.5s linear;
    cursor: pointer;
}
.footer__nav-block > a:active { filter: opacity(0.3); }
.footer__nav-block--link-1 {
    background-image: url(../images/twitter.svg);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__nav-block--link-2 {
    background-image: url(../images/facebook.svg);
    background-size: 22%;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__nav-block--link-3 {
    background-image: url(../images/youtube.svg);
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__html-academy {
    grid-area: block-3;
    width: 100%;
    height: 200px;
}
.footer__developed-by-html-academy { float:right; }
.footer__html-academy-link { float: right; }
.footer__html-academy--logo:hover { filter: brightness(0.1); }
.footer__html-academy--logo:active { filter: opacity(0.2); }
@media screen and (max-width: 1110px) {
    .main__section-3 { padding: 0 calc(50% - 470px); }
    .main__section-3 > ul {
        display: grid;
        grid: 'block-1 block-2'
              'block-3 block-4'
              'block-5 block-6';
        margin: 0 auto;
        padding: 0 calc(50% - 345px);
        grid-gap: 91px;
        grid-column-gap: 91px;
    }
    .main__section-4 > h4 { margin-top: -25px; }
    .main__section-5--block-2--mobile { display: none; }
}
@media screen and (max-width: 885px) {
    .header { display: none; }
    .header__mobile--section { display: none; }
    .header-tablet {
        min-height: 394px;
        background: url(../images\ tablet/back\ tablet.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: grid;
        grid: 'block-1'
              'block-2';
    }
    .header__menu {
        display: inline-block;
        height: 100px;
        z-index: 2;
        backdrop-filter: brightness(0.6);
        -webkit-backdrop-filter: brightness(0.6);
        grid-area: block-1;
        padding: 0 calc(50% - 310px);
    }
    .header__logo {
        position: relative;
        display: flex;
        justify-content: left;
        left: 0px;
        top: 26px;
        height: 40px;
        width: 145px;
    }
    .header__menu-button-click {
        position: relative;
        left: 0px;
        top: 0px;
        margin-left: 526px;
        padding: 16px;
        width: 50px;
        height: 24px;
        border: none;
        background: none;
        background-image: url(../images\ tablet/menu\ burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: flex;
        align-items: center;
    }
    .header__menu--options {
        display: none;
        position: absolute;
        left: 0px;
        top: 80px;
        background-color: #000000;
    }
    .header__menu--options a {
        color: #FFFFFF;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }
    .header__menu--options a:hover {
        background-color: rgb(72, 72, 72);
        transition: all 0.5s linear;
    }
    .header__menu:hover .header__menu--options {
        display: block;
        width: 100%;
    }
    .header__menu:hover .header__menu-button-click { background-color: black; }
    .footer__header {
        padding: 0 calc(50% - 310px);
        grid-area: block-2;
    }
    .footer__header--h2 {
        color: white;
        padding: 0 calc(50% - 200px);
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        line-height: 68px;
        font-weight: 300;
    }
    .main__latest-best-panorama-section--best-shot-block {
        position: relative;
        left: 18px;
        top: -243px
    }
    .main__section-3 { padding: 0 calc(50% - 140px); }
    .main__section-3 > ul {
        display: grid;
        grid: 'block-1'
              'block-2'
              'block-3'
              'block-4'
              'block-5'
              'block-6';
        margin: 0 auto;
        padding: 0 calc(50% - 140px);
        position: relative;
        left: 0px;
        top: -3px;
    }
    .main__section-3 > ul > div { margin-top: -63px; }
    .main__section-4 > h4 { margin-top: -60px; }
    .main__section-5--block-2 > input { margin-left: 85px; }
    .main__section-5--sub-block-2--mobile { display: none; }
    .main__section-5--block-3 {
        display: flex;
        flex-flow: column;
    }
    .main__section-5--block-3 > button:nth-child(odd) {
        width: 250px;
        margin: 0 auto;
        position: relative;
        left: 0px;
        top: -10px;
    }
    .main__section-5--block-3 > button:nth-child(even) {
        width: 250px;
        margin: 0 auto;
        position: relative;
        left: 0px;
        top: 0px;
    }
}
@media screen and (max-width: 654px) {
    .main__section-5 {
        display: grid;
        grid: 'block-1' 
              'block-2'
              'block-3';
        min-height: 800px;
        padding: 0 calc(50% - 140px);
    }
    .main__section-5--block-1 {
        width: 280px;
        height: 374px;
    }
    .main__section-5--block-2 > div { display: none; }
    .main__section-5--sub-block-2--mobile {
        display: grid;
        grid: 'block-1' 'block-2';
        padding: 0 calc(50% - 140px);
    }
    .main__section-5--sub-block-2--mobile > div {
        grid-area: block-1;
        margin: 0 auto;
    }
    .main__section-5--sub-block-2--mobile > div > img {
        margin-left: 20px;
        margin-right: 20px;
        filter: brightness(0.2) 
                opacity(0.2);
    }
    .main__section-5--sub-block-2--mobile  > div > img:hover {
        filter: brightness(1) 
                opacity(1);
        transition: all 0.3s linear;
    }
    .main__section-5--sub-block-2--mobile > div > img:active { filter: opacity(0.3); }
    .main__section-5--sub-block-2--sub-block-1--range-input--mobile {
        width: 278px;
        height: 1px;
        background: #bdbdbd;
        margin-top: 30px;
        grid-area: block-2;
    }
    .main__section-5--sub-block-2--sub-block-1--range-input--mobile:hover {
        height: 8px;
        transition: 0.3s linear;
    }
    .footer {
        display: grid;
        grid: 'block-1'
              'block-2'
              'block-3';
    }
    .footer > div { height: 60px; }
    .footer > div.footer__nav-block { width: 200px; }
}
@media screen and (max-width: 593px) {
    .header { display: none; }
    .header-tablet { display: none; }
    .header__mobile--section {
        min-height: 300px;
        background: url(../images\ mobile/back-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        display: grid;
        grid: 'block-1'
              'block-2';
    }
    .header__mobile--menu {
        position: relative;
        left: 0px;
        top: -12px;
        display: inline-block;
        height: 60px;
        backdrop-filter: brightness(0.6);
        -webkit-backdrop-filter: brightness(0.6);
        padding: 0 calc(50% - 140px);
        grid-area: block-1;
        z-index: 3;
    }
    .header__mobile--section--middle-part {
        padding: 0 calc(50% - 140px);
        grid-area: block-2;
        z-index: 1;
        display: grid;
        grid: 'block-1' 'block-2';
    }
    .header__mobile--logo {
        position: relative;
        display: flex;
        justify-content: left;
        left: 0px;
        top: 26px;
        height: 24px;
        width: 100px;
    }
    .header__mobile--menu-button-click {
        position: relative;
        left: 230px;
        top: 0px;
        padding: 16px;
        width: 50px;
        height: 24px;
        border: none;
        background: none;
        background-image: url(../images\ mobile/open\ menu\ btn.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: flex;
        align-items: center;
    }
    .header__mobile--menu--options {
        display: none;
        position: absolute;
        left: 0px;
        top: 50px;
        background-color: #000000;
        z-index: 2;
    }
    .header__mobile--menu--options a {
        color: #FFFFFF;
        height: 30px;
        text-decoration: none;
        display: block;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .header__mobile--menu--options a:hover {
        background-color: rgb(72, 72, 72);
        width: 100%;
        transition: all 0.3s linear;
    }
    .header__mobile--menu:hover .header__mobile--menu--options {
        display: block;
        width: 100%;
    }
    .header__mobile--menu:hover .header__mobile--menu-button-click { background-color: black; }
    .header__mobile--section--description-of-main-content {
        position: relative;
        left: 0px;
        top: 7px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 33px;
        width: 280px;
        height: 56px;
        text-align: center;
        color: #FFFFFF;
    }
    .main__latest-best-panorama-section--best-shot-block {
        position: relative;
        left: 18px;
        top: -180px
    }
    .main__latest-best-panorama-section--user-picture-block { z-index: 2; }
    .main__latest-best-panorama-section--user-comment--block {
        width: 300px;
        height: 160px;
        margin-left: 102px;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        left: 10px;
        top: -34px;
    }
    .main__latest-best-panorama-section--user-comment--block > label:nth-of-type(even) { width: 103px; }
    .main__latest-best-panorama-section--user-comment--block > p {
        position: relative;
        left: 10px;
        top: -41px;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        color: #283645;
        grid-area: block-3;
        width: 280px;
    }
    .main__section-3 {
        padding: 0 calc(50% - 140px);
        z-index: 0;
    }
    .main__section-3 > ul {
        position: relative;
        left: 0px;
        top: -100px;
    }
    .main__section-3 > ul > div { margin-top: -73px; }
    .main__section-4 > h4 { margin-top: -85px; }
}